$blue: #999999;

.plain {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.8);
}

.card {
    width: 14em;
    height: 22em;
    margin-bottom: 2em;
    border: 1px solid #e6e6e6;
    flex: 0 1 calc(33% - 1em);
}
  
.card-header {
    height: 45%;
    width: 100%;
    padding: 0.75em;
    background-size: cover;
}

.card-body {
    height: 55%;
    width: 100%;
    padding: 0.75em;
}

.body-content {
    font-size: 0.75rem;
    line-height: 1.8;
}